.backButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: transparent;
	border: 0;
	cursor: pointer;
	transition: all 0.2s ease;
}

.icon {
	width: 24px;
	height: 24px;
	color: black;
	transition: color 0.2s ease;
}

@media (max-width: 768px) {
	.backButton {
		width: 40px;
		height: 40px;
	}

	.icon {
		width: 20px;
		height: 20px;
	}
}
